body {
	font-family: "Avenir", sans-serif;
}

#tasksTable {
	border-collapse: collapse;
}

#tasksTable td, th {
	border: 1px solid gray;
	padding: 5px;
}

#tasksTable th {
	background-color: rgb(222, 222, 222);
}

.subtleText {
	color: gray;
}